<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <!-- <title><%= context.config.title %></title> -->
  <title>极致源于梦想</title>
  <link rel="icon" type="image/x-icon" href="<%= context.config.publicPath %>favicon.png" />
  <script src="https://cdn-go.cn/aegis/aegis-sdk/latest/aegis.min.js"></script>
  <script>
    const aegis = new Aegis({ id: '8lV9oSowwL6na03Dg7', reportApiSpeed: true, reportAssetSpeed: true, spa: true });
  </script>
</head>

<body>
  <div id="root"></div>
</body>

</html>